/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient( #d9cfe3, #2575fc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgb(240, 240, 240);
    padding: 40px 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1, h2,h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #010101;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #000000;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
}

.input-group input:focus {
    border-color: #457fe2;
}

button {
    width: 100%;
    padding: 10px;
    background: #2575fc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #151618;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
}

.forgot {
    color: #000;

}

.signup-text{
    display: flex;
    justify-content: center;
    align-items: center;
}